<!DOCTYPE html>
<html>

<head>
    <title>Stroke Prediction Result</title>
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Stroke Prediction Result</h2>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Prediction Result:</h4>
            <p class="mb-0">The patient has a <strong>{{ result }}</strong> of having a stroke.</p>
        </div>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>

    <!-- Import Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
